@import './variables';

.countries {
	.countriesUl {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		.countryCard {
			width: 31%;
			margin: 10px 0;
			.countryButton {
				display: flex;
				height: 100%;
				.countryPage {
					padding: 1rem;
					.countryTitle {
						text-align: center;
						font-weight: bold;
					}
					h5 > span {
						padding-left: 1rem;
						font-weight: bold;
					}
				}
			}
			.countryButton:hover {
				background-color: $color-silver;
			}
		}
	}
}

@media (max-width: 425px) {
	.countries {
		.countriesUl {
			.countryCard {
				width: 100%;
				margin: 10px 0;
			}
		}
	}
}

// @media (max-width: 768px) {
// 	.countries {
// 		.countriesUl {
// 			.countryCard {
// 				width: 49%;
// 				margin: 10px 0;
// 			}
// 		}
// 	}
// }

@media (min-width: 1025px) {
	.countries {
		width: 70rem;
		.countriesUl {
			.countryCard {
				width: 32%;
				margin: 10px 0;
			}
		}
	}
}
