@import './variables.scss';

.countries {
	.countriesUl {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		.countryCard {
			width: 31%;
			margin: 5px 10px;
			.countryButton {
				display: flex;
				height: 100%;
				.countryPage {
					padding: 1rem;
					.countryTitle {
						text-align: center;
						font-weight: bold;
					}
					h5 > span {
						padding-left: 1rem;
						font-weight: bold;
					}
				}
			}
			.countryButton:hover {
				background-color: $color-silver;
			}
		}
	}
}

@media (max-width: 430px) {
	.countries {
		.countriesUl {
			.countryCard {
				width: 95%;
			}
		}
	}
}
