@import './variables.scss';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: $color-gray;
	// overflow: auto !important;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.container {
		padding: 0 !important;
		margin: 0 !important;
	}

	img {
		max-width: 100%;
	}

	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
			monospace;
	}
}
// @media (max-width: 430px) {
// 	.home {
// 	.sortContainer {
// 		justify-content: center;
// 		margin: 0;
// 		.sortSearch {
// 			// width: 100%;
// 			// margin-right: 32px;
// 		}
// 	}
// 	}
// }
// @media (max-width: 640px) {
// 	.home {
// 		.sort {
// 			.sortContainer {
// 				width: 92%;
// 			}
// 			.countriesList {
// 				width: 92%;
// 				.countries {
// 					.countriesUl {
// 						.countryCard {
// 							width: 46%;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media (max-width: 768px) {
// 	.home {
// 		.sort {
// 			.sortContainer {
// 				width: 93.5%;
// 			}
// 			.countriesList {
// 				width: 93.5%;
// 				.countries {
// 					.countriesUl {
// 						.countryCard {
// 							width: 46%;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// @media (max-width: 991px) {
// 	.home {
// 		.sort {
// 			.sortContainer {
// 				width: 95%;
// 			}
// 			.countriesList {
// 				width: 95%;
// 				.countries {
// 					.countriesUl {
// 						.countryCard {
// 							width: 46%;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// @media (min-width: 992px) {
// 	.home {
// 		.sort {
// 			.sortContainer {
// 				width: 96%;
// 			}
// 			.countriesList {
// 				width: 96%;
// 				.countries {
// 					.countriesUl {
// 						.countryCard {
// 							width: 31%;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
