@import './variables.scss';

.home {
	margin: 0 !important;
	padding: 0 !important;
	.homeTitle {
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		background-color: $color-white;
	}
}

.details {
	.detailsBackArrow {
		width: 20rem;
		height: 100%;
		margin: 1rem 8rem;
		position: absolute;
		text-align: center;
		.detailsLink {
			color: $color-dark-gray;
		}
		.detailsLink:hover {
			color: red;
		}
	}
	.detailsCountry {
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		.detailsCard {
			width: 80%;
			height: 75%;
		}
	}
}
