@import './variables.scss';

.home {
	margin: 0 !important;
	padding: 0 !important;
	.homeTitle {
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		background-color: $color-white;
	}
}

.details {
	.detailsCountry {
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		.detailsCard {
			width: 70%;
			height: 65%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.detailsLink {
				width: 100%;
				height: 3rem;
				padding: 3rem 2rem;
				.detailsLinkHome {
					display: flex;
					align-items: center;
					color: $color-dark-gray;
				}
				.detailsLinkHome:hover {
					color: red;
				}
			}
			.detailsPage {
				padding: 1rem;
				.detailsTitle {
					text-align: center;
					font-weight: bold;
				}
				h5 > span {
					padding-left: 1rem;
					font-weight: bold;
				}
			}
		}
	}
}
