@import './variables.scss';

.sortContainer {
	width: 90% !important;
	position: absolute;
	display: flex;
	justify-content: space-between;
	margin: 2.5rem 4rem;
	.sortSearch {
		display: flex;
		.sortSearchIcon {
			margin-top: 20px;
			color: $color-dark-gray;
		}
		.sortSearchBox {
			display: flex;
			align-items: center;
			width: 13rem;

			.sortSearchText {
				margin: 0 5px;
				width: 100%;
			}
		}
	}
	.sortFiltered {
		.sortFilteredSearch {
			width: 13rem;
		}
	}
	.countriesList {
		width: 100% !important;
	}
}
