@import './variables.scss';

.sortContainer {
	width: 88% !important;
	position: absolute;
	display: flex;
	justify-content: space-between;
	margin: 2.5rem 5rem;
	.sortSearchBox {
		display: flex;
		align-items: center;
		.sortSearchIcon {
			margin-top: 15px;
			margin-right: 5px;
			color: $color-dark-gray;
		}
		.sortSearchText {
			margin: 0 5px;
			width: 100%;
		}
	}
}
